/* 
 * Score box
 */
.score-box {
  grid-row-start: 1;
  grid-row-end: 1;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.score-box__scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: var(--height-boxes);
  border: 5px solid var(--grey-color);
  border-radius: var(--border-radius);
  background-color: var(--main-background);
}

.score-box__scoreboard-text-score,
.score-box__scoreboard-text-level,
.score-box__scoreboard-text-lines,
.historical-box__history-scores__text {
  font-family: "Tequilla Sunrise";
  font-weight: 600;
  font-size: var(--text-boxes);
  color: var(--red-color);
  margin-bottom: 5px;
  mix-blend-mode: lighten;
}

.score-box__scoreboard-text-level,
.score-box__scoreboard-text-lines {
  margin-top: 0.2em;
}

.score-box__scoreboard-score,
.score-box__scoreboard-level,
.score-box__scoreboard-lines,
.historical-box__history-scores__score {
  width: 8.8em;
  height: 2.2em;
  border: 1px solid var(--color-primary-3);
  border-radius: var(--border-radius);
  background-color: var(--black-background);
  margin-top: -8px;
  text-align: center;
}

.score-box__scoreboard-score > p,
.score-box__scoreboard-level > p,
.score-box__scoreboard-lines > p,
.historical-box__history-scores__score > p {
  font-family: "Sketch Match";
  font-weight: bold;
  line-height: 1.2em;
  font-size: 2em;
  color: yellow;
}
