:root {
  --btn-primary-color: blue;
  --btn-secondary-color: red;
}

.main-box {
  display: flex;
  background-color: yellow;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

canvas {
  background-color: yellowgreen;
  border: 2px solid black;
  width: 400px;
  height: 640px;
}

.button-box {
  margin-top: 1em;
  display: flex;
  width: 100%;
  justify-content: center;
}

button {
  width: 10%;
  color: white;
  font-weight: bold;
  font-size: 1.2vw;
  padding: 0.3em 0.3em;
  border-radius: 10px;
  white-space: pre;
  outline: none;
}

.btn-start {
  background-color: var(--btn-primary-color);
}

.btn-play-again {
  background-color: var(--btn-secondary-color);
}
